<div class="row">
    <div class="col-md-6">
        <form name="searchForm" class="form-inline" novalidate>

            <!-- USERNAME -->
            <div class="form-group" 
                 ng-class="{ 'has-error' : searchForm.search.$invalid && !searchForm.search.$pristine }">
                
                <input 
                    type="text" 
                    name="search" 
                    class="form-control" 
                    ng-model="search" 
                    ng-change="filter()"
                    placeholder="Wyszukaj"
                    ng-minlength="3" ng-pattern="/^[0-9a-zA-Z]+$/">
                <p ng-show="searchForm.search.$error.minlength" class="help-block">Fraza za krótka.</p>
                <p ng-show="searchForm.search.$error.pattern" class="help-block">Tylko znaki alfanumeryczne.</p>
            </div>
            <div class="form-group" >
                
                <select class="form-control"  ng-model="pageSize" ng-change="filter()">
                  <option value="10">10</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <label>Items on page</label>
            </div>
        </form>
    </div>
    <div class="col-md-6">    
        <a href="#/addpost" class="btn btn-primary pull-right">
            Dodaj post
        </a>
    </div>    

</div>
<br>
<div class="row">
    <button class="btn btn-default btn-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages}}
    <button class="btn btn-default btn-xs" ng-disabled="(currentPage+1)>=numberOfPages" ng-click="currentPage=currentPage+1">
        Next
    </button>
</div>
<br>
<div class="row">
    <div ng-repeat="post in filtered = ( posts | filter : {title : search}) | filter : {title : search} | startFrom:currentPage*pageSize | limitTo:pageSize" class="col-sm-6 col-md-3" >
        <div class="thumbnail" style=" height: 300px;">
            <div class="caption">
                <h3><a ng-href="#/viewpost/{{post.id}}">{{post.title}}</a></h3>
                <p>{{post.body|  limitTo : 60}}{{post.body.length > 60 ? '...' : ''}}</p>
            </div>
        </div>
    </div>
</div> 
<div class="row">
    <button class="btn btn-default btn-xs" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    </button>
    {{currentPage+1}}/{{numberOfPages}}
    <button class="btn btn-default btn-xs" ng-disabled="(currentPage+1)>=numberOfPages" ng-click="currentPage=currentPage+1">
        Next
    </button>
</div>
